## SML/NJ stuff ##
.cm/

## C/C++ stuff ##

# Prerequisites
*.d
.depend

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

## LaTeX stuff

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Generated if empty string is given at "Please type another file name for output:"
.pdf

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build tool directories for auxiliary files
# latexrun
latex.out/

## Other stuff ##
*.tgz
*.swp

# macOS finder
.DS_Store

# autoconf files
configure
configure~
config.status
autom4te.cache

# project-specific files
sml.boot.*
sml.bin.*
bin/
lib/
llvm/build/
runtime/bin/
runtime/include/llvm-c/
runtime/include/llvm/
runtime/lib/
tools/asdl/**/Makefile
tools/asdl/config/config_h.in
tools/asdl/src/asdlgen/back-end/sml/fragments.gmk
tools/asdl/src/asdlgen/back-end/sml/fragments.sml
tools/asdl/src/asdlgen/common/config.sml
tools/asdl/src/gen/fragments/mkfrags.sh
tools/asdl/src/gen/fragments/mkmk.sh
tools/asdl/src/lib/cxx/include/asdl/config.h
doc/**/Makefile
doc/doc
doc/mk/doc-rules.gmk
doc/src/changelog/HISTORY.html
doc/src/release-notes/110.86-README.html
doc/src/release-notes/110.87-README.html
doc/src/release-notes/110.88-README.html
doc/src/release-notes/110.89-README.html
doc/src/release-notes/110.90-README.html
doc/src/release-notes/110.91-README.html
doc/src/release-notes/110.92-README.html
doc/src/release-notes/110.93-README.html
doc/src/release-notes/110.94-README.html
doc/src/release-notes/110.95-README.html
doc/src/release-notes/110.96-README.html
doc/src/release-notes/110.97-README.html
doc/src/release-notes/110.98-README.html
doc/src/release-notes/110.98.1-README.html
doc/src/release-notes/110.99-README.html
doc/src/release-notes/110.99.1-README.html
doc/src/release-notes/110.99.2-README.html
doc/src/release-notes/2021.1-README.html
doc/src/release-notes/2022.1-README.html
doc/src/man/*.1
doc/src/man/*.7
doc/src/**/*.html
package/macos/*.pkg

# generated html files
*.html

# lex and yacc generated source files
*.grm.sml
*.lex.sml
