body {
  font-size: 14pt;
}
div.smlnj-banner {
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
div.smlnj-banner span.title {
  font-size: 200%;
}
div.smlnj-banner span.subtitle {
  font-size: 150%;
}
h2 {
  font-size: 140%;
}
h3 {
  font-size: 120%;
}
dd {
  margin-left: 2em;
  margin-bottom: 0.5em;
}
li {
  margin-bottom: 0.5em;
}
span.important {
  color: red;
  text-weight: bold;
}
span.tt {
  font-family: "Courier", monospace;
}
code {
  font-family: "Courier", monospace;
  white-space: pre;
  color: darkblue;
}
.code {
  font-family: "Courier", monospace;
  white-space: pre;
  color: darkblue;
}
span.kw {
  font-family: "Courier", monospace;
  font-weight: bold;
  color: darkgreen;
}
span.com {
  font-style: italic;
  color: indianred;
}
span.exe {
  font-weight: bold;
}
table.buglist {
  margin-left: 2em;
  font-size: 100%;
}
table.buglist span.bugid {
  padding-right: 1em;
  padding-left: 0px;
  margin-left: 0px;
}
span.bugid {
  font-weight: bold;
}
p.compact {
  margin-top: 0pt;
  margin-bottom: 0pt;
}
.support-table {
  margin-left: 2em;
  font-size: 100%;
}
.support-table th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 2px solid black;
}
.support-table td {
  padding-right: 1em;
}
p.tableblock {
  padding-right: 1em;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
