pre.pygments .hll { background-color: #ffffcc }
pre.pygments  { background: #f0f3f3; }
pre.pygments .tok-c { color: #0099FF; font-style: italic } /* Comment */
pre.pygments .tok-err { color: #AA0000; background-color: #FFAAAA } /* Error */
pre.pygments .tok-k { color: #006699; font-weight: bold } /* Keyword */
pre.pygments .tok-o { color: #555555 } /* Operator */
pre.pygments .tok-ch { color: #0099FF; font-style: italic } /* Comment.Hashbang */
pre.pygments .tok-cm { color: #0099FF; font-style: italic } /* Comment.Multiline */
pre.pygments .tok-cp { color: #009999 } /* Comment.Preproc */
pre.pygments .tok-cpf { color: #0099FF; font-style: italic } /* Comment.PreprocFile */
pre.pygments .tok-c1 { color: #0099FF; font-style: italic } /* Comment.Single */
pre.pygments .tok-cs { color: #0099FF; font-weight: bold; font-style: italic } /* Comment.Special */
pre.pygments .tok-gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
pre.pygments .tok-ge { font-style: italic } /* Generic.Emph */
pre.pygments .tok-gr { color: #FF0000 } /* Generic.Error */
pre.pygments .tok-gh { color: #003300; font-weight: bold } /* Generic.Heading */
pre.pygments .tok-gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
pre.pygments .tok-go { color: #AAAAAA } /* Generic.Output */
pre.pygments .tok-gp { color: #000099; font-weight: bold } /* Generic.Prompt */
pre.pygments .tok-gs { font-weight: bold } /* Generic.Strong */
pre.pygments .tok-gu { color: #003300; font-weight: bold } /* Generic.Subheading */
pre.pygments .tok-gt { color: #99CC66 } /* Generic.Traceback */
pre.pygments .tok-kc { color: #006699; font-weight: bold } /* Keyword.Constant */
pre.pygments .tok-kd { color: #006699; font-weight: bold } /* Keyword.Declaration */
pre.pygments .tok-kn { color: #006699; font-weight: bold } /* Keyword.Namespace */
pre.pygments .tok-kp { color: #006699 } /* Keyword.Pseudo */
pre.pygments .tok-kr { color: #006699; font-weight: bold } /* Keyword.Reserved */
pre.pygments .tok-kt { color: #007788; font-weight: bold } /* Keyword.Type */
pre.pygments .tok-m { color: #FF6600 } /* Literal.Number */
pre.pygments .tok-s { color: #CC3300 } /* Literal.String */
pre.pygments .tok-na { color: #330099 } /* Name.Attribute */
pre.pygments .tok-nb { color: #336666 } /* Name.Builtin */
pre.pygments .tok-nc { color: #00AA88; font-weight: bold } /* Name.Class */
pre.pygments .tok-no { color: #336600 } /* Name.Constant */
pre.pygments .tok-nd { color: #9999FF } /* Name.Decorator */
pre.pygments .tok-ni { color: #999999; font-weight: bold } /* Name.Entity */
pre.pygments .tok-ne { color: #CC0000; font-weight: bold } /* Name.Exception */
pre.pygments .tok-nf { color: #CC00FF } /* Name.Function */
pre.pygments .tok-nl { color: #9999FF } /* Name.Label */
pre.pygments .tok-nn { color: #00CCFF; font-weight: bold } /* Name.Namespace */
pre.pygments .tok-nt { color: #330099; font-weight: bold } /* Name.Tag */
pre.pygments .tok-nv { color: #003333 } /* Name.Variable */
pre.pygments .tok-ow { color: #000000; font-weight: bold } /* Operator.Word */
pre.pygments .tok-w { color: #bbbbbb } /* Text.Whitespace */
pre.pygments .tok-mb { color: #FF6600 } /* Literal.Number.Bin */
pre.pygments .tok-mf { color: #FF6600 } /* Literal.Number.Float */
pre.pygments .tok-mh { color: #FF6600 } /* Literal.Number.Hex */
pre.pygments .tok-mi { color: #FF6600 } /* Literal.Number.Integer */
pre.pygments .tok-mo { color: #FF6600 } /* Literal.Number.Oct */
pre.pygments .tok-sa { color: #CC3300 } /* Literal.String.Affix */
pre.pygments .tok-sb { color: #CC3300 } /* Literal.String.Backtick */
pre.pygments .tok-sc { color: #CC3300 } /* Literal.String.Char */
pre.pygments .tok-dl { color: #CC3300 } /* Literal.String.Delimiter */
pre.pygments .tok-sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
pre.pygments .tok-s2 { color: #CC3300 } /* Literal.String.Double */
pre.pygments .tok-se { color: #CC3300; font-weight: bold } /* Literal.String.Escape */
pre.pygments .tok-sh { color: #CC3300 } /* Literal.String.Heredoc */
pre.pygments .tok-si { color: #AA0000 } /* Literal.String.Interpol */
pre.pygments .tok-sx { color: #CC3300 } /* Literal.String.Other */
pre.pygments .tok-sr { color: #33AAAA } /* Literal.String.Regex */
pre.pygments .tok-s1 { color: #CC3300 } /* Literal.String.Single */
pre.pygments .tok-ss { color: #FFCC33 } /* Literal.String.Symbol */
pre.pygments .tok-bp { color: #336666 } /* Name.Builtin.Pseudo */
pre.pygments .tok-fm { color: #CC00FF } /* Name.Function.Magic */
pre.pygments .tok-vc { color: #003333 } /* Name.Variable.Class */
pre.pygments .tok-vg { color: #003333 } /* Name.Variable.Global */
pre.pygments .tok-vi { color: #003333 } /* Name.Variable.Instance */
pre.pygments .tok-vm { color: #003333 } /* Name.Variable.Magic */
pre.pygments .tok-il { color: #FF6600 } /* Literal.Number.Integer.Long */